.App {
    margin: 2%;
}
.headerArea {
    display: flex;
    justify-content: space-around;
}
img {
    margin: 0 10%;
    max-width: 80%;
    width: 80%;
}

.photo {
    display: flex;
    flex-direction: column;
}
h5 {
    padding: 0;
    margin: 0;
    margin-left: 10%;
}
.explained {
    width: 60%;
    margin: 2% auto;
}
